<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <h2 class="text-center">Custom Angular Attribute Directive:</h2>
  <div class="form-row">
    <div class="col">
      <input
        class="form-control"
        type="text"
        #text
        (keyup)="(0)"
        placeholder="aranacak kelime..."
      />
    </div>
    <div class="col">
      <select class="form-control" #color (change)="(0)">
        <option value="yellow" selected>Yellow</option>
        <option value="lightgreen">Green</option>
        <option value="palevioletred">Red</option>
      </select>
    </div>
  </div>
  <p
    class="p-3 border bg-light"
    [appTextHighlight]="text.value"
    [color]="color.value"
  >
    {{ movieQuote }}
  </p>
  <hr />
  <h2 class="text-center">Custom Angular Structural Directive:</h2>
  <div class="text-center" *appCustomFor="maxElements; let num; let i = index">
    <span>index: {{ i }} | element: {{ num + 1 }} of {{ maxElements }}</span>
  </div>
  <hr />
  <h2 class="text-center">Custom Angular Pipe:</h2>
  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let item of myCollection | orderBy: 'lastName'; let i = index"
    >
      <span>{{ item.firstName }} {{ item.lastName }}</span>
      <span>{{ item.birthDay | date: 'short' }}</span>
      <span class="badge badge-primary badge-pill">{{ i }}</span>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
